<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.gooroomeelite">

    <!--    카매라 권한 추가 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gooroomeelite">
        <activity android:name=".views.login.Login04Activity"/>
        <activity android:name=".views.login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".views.login.Login03Activity" />
        <activity android:name=".views.login.Login02Activity" />
        <activity android:name=".views.login.Login01Activity" />
        <activity android:name=".views.mypage.WithdrawalActivity" />
        <activity android:name=".views.mypage.OpenSourceActivity" />
        <activity android:name=".views.mypage.PrivacyPolicyActivity" />
        <activity android:name=".views.mypage.TermsOfServiceActivity" />
        <activity android:name=".views.mypage.ProfileAccountActivity" />
        <activity android:name=".views.statistics.share.StickerActivity"/>
        <activity android:name=".views.statistics.share.ShareActivity" />
        <activity android:name=".views.common.SplashActivity">
        </activity>
        <activity android:name=".views.common.MainActivity"/>


    </application>

</manifest>