<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.gooroomeelite">
    <!-- 카매라 권한 추가 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 스마트폰 메모리카드에서 이미지를 가져와 출력 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gooroomeelite">
        <activity android:name=".views.common.OnBoardingActivity" />
        <activity
            android:name=".views.home.TimersettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.home.StudyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".utils.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".views.mypage.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.StudyEndActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.mypage.ProfileUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.login.LoginStudyTimeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.login.LoginNicknameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.login.LoginSecondActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.login.LoginFirstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.login.LoginEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.login.LoginNewPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".views.mypage.WithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mypage.OpenSourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mypage.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mypage.TermsOfServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.mypage.ProfileAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.statistics.share.StickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.statistics.share.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.EditSubjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.common.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.common.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.co.gooroomeelite.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

    </application>

</manifest>